@model IEnumerable<SitePI.Models.FipeAPI.Veiculos>

@{
    ViewData["Title"] = "Veiculos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = ViewData["IdMarca"];
}

<h2>Veiculos</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.fipe_marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.key)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fipe_name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fipe_marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fipe_name)
            </td>
            <td>
                @Html.ActionLink("Selecionar ano", "AnoModelo", new { IdMarca = data, id = item.id })
            </td>
        </tr>
}
    </tbody>
</table>
