@{
    ViewData["Title"] = "About";
}
<!DOCTYPE html>
<html>
<head>

    <link rel="shortcut icon" src="@Url.Content("~/assets/images/marcha-128x128.png")" type="image/x-icon">
    <link href="@Url.Content("~/assets/web/assets/mobirise-icons/mobirise-icons.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/tether/tether.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/soundcloud-plugin/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/bootstrap/css/bootstrap-grid.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/bootstrap/css/bootstrap-reboot.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/dropdown/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/socicon/css/styles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/animatecss/animate.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/theme/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/mobirise/css/mbr-additional.css")" rel="stylesheet" type="text/css" />

</head>
<body>
   
    <section class="features12 cid-qZMcUYUKs9" id="features12-h">

        <div class="container">
            <h2 class="mbr-section-title pb-2 mbr-fonts-style display-2">
                Sobre a Empresa da Mentira
            </h2>
            <h3 class="mbr-section-subtitle pb-3 mbr-fonts-style display-5">Somos a equipe da mentira, idealizada por Ricardo Ribeiro, onde a mesma tem como valores:<br>Mentir, Tamburilar, Patranha, Baratino, Lorota, História de Pescador.<br><br>No Site Do Mentiroso são disponibilizados classificados para venda de veículos – com mais de 200 mil ofertas por mês, programas de manutenção preventiva veicular e produtos específicos direcionados especialmente às Revendas de Veículos e empresas atuantes no segmento automobilístico, como fabricantes de veículos e autopeças, e outras empresas que atuam nesse segmento.<br><br>Atendemos a uma ampla gama de clientes, desde indivíduos comuns a empresas, estrelas da TV, fraternidade de Bollywood e grandes políticos. Todos confiam em nós para nossos serviços e nos recomendam a outros para uma boa experiência na compra de carros.</h3>
            <div class="media-container-row pt-5">
                <div class="block-content align-right">
                    <div class="card pl-3 pr-3 pb-5">
                        <div class="mbr-card-img-title">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont mbri-user"></span>
                            </div>
                            <div class="mbr-crt-title">
                                <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">Daniel Tavares</h4>
                            </div>
                        </div>
                        <div class="card-box">
                            <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
                                Ouviu o grito e viu que não era um mito na caverna..
                            </p>
                        </div>
                    </div>
                    <div class="card pl-3 pr-3 pb-5">
                        <div class="mbr-card-img-title">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont mbri-user"></span>
                            </div>
                            <div class="mbr-crt-title">
                                <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">Alfonso Martinez</h4>
                            </div>
                        </div>
                        <div class="card-box">
                            <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
                                Comi no supleno, bateu errado aqui.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mbr-figure" style="width: 60%;">
                    <img src="@Url.Content("~/assets/images/f4d9a55c-b10e-47a6-80c5-bbade55878fc-1204x1204.jpg")" alt="Mobirise" title="">
                </div>
                <div class="block-content align-left  ">
                    <div class="card pl-3 pr-3 pb-5">
                        <div class="mbr-card-img-title">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont mbri-user"></span>
                            </div>
                            <div class="mbr-crt-title">
                                <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">
                                    Vinicius Serva
                                </h4>
                            </div>
                        </div>
                        <div class="card-box">
                            <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
                                “These violent delights have violent ends.'' Computer Engineering, 20. 🇧🇷🇨🇮
                            </p>
                        </div>
                    </div>
                    <div class="card pl-3 pr-3 pb-5">
                        <div class="mbr-card-img-title">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont mbri-user"></span>
                            </div>
                            <div class="mbr-crt-title">
                                <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">Ricardo Ribeiro</h4>
                            </div>
                        </div>
                        <div class="card-box">
                            <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
                                Chegaram duas viaturas, com caras mascarados e armados, puxei as duas atirei nos dois, 45 tiros no peito, Ak-45, pente alongado.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mbr-section content8 cid-qZMdcAzphJ" id="content8-j">

        <div class="container">
            <div class="media-container-row title">
                <div class="col-12 col-md-8">
                    <div class="mbr-section-btn align-center"><a class="btn btn-white-outline display-4"></a></div>
                </div>
            </div>
        </div>
    </section>

    <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i></i></a></div>
    <input name="animation" type="hidden">
</body>
</html>
