@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" src="@Url.Content("~/assets/images/marcha-128x128.png")" type="image/x-icon">

    <link href="@Url.Content("~/assets/web/assets/mobirise-icons/mobirise-icons.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/tether/tether.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/soundcloud-plugin/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/bootstrap/css/bootstrap-grid.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/bootstrap/css/bootstrap-reboot.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/dropdown/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/socicon/css/styles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/animatecss/animate.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/theme/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/mobirise/css/mbr-additional.css")" rel="stylesheet" type="text/css" />



</head>
<body>

    <section class="mbr-section content8 cid-qZLHlljiu0" id="content8-4">

        <div class="container">
            <div class="media-container-row title">
                <div class="col-12 col-md-8">
                    <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4">LEARN MORE</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="header1 cid-qZLGTpZNBQ" id="header1-3">

        <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(0, 0, 0);">
        </div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="mbr-white col-md-10">

                    <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">VEÍCULOS DE TODAS AS MARCAS!</h3>
                    <p class="mbr-text align-center pb-3 mbr-fonts-style display-5"></p>
                    <div class="mbr-section-btn align-center"><a class="btn btn-md btn-success display-4" href="index.html#content8-7">Ver Mais</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="mbr-section content8 cid-qZLJgmu9Lk" id="content8-5">

        <div class="container">
            <div class="media-container-row title">
                <div class="col-12 col-md-8">
                    <div class="mbr-section-btn align-center"><a class="btn btn-white-outline display-4" href="https://www.dicionarioinformal.com.br/baratino/" target="_blank"></a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="header1 cid-qZLJxISaD7" id="header1-6">

        <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(0, 0, 0);">
        </div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="mbr-white col-md-10">

                    <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">FILIAL ATÉ EM GUARAJUBA!</h3>
                    <p class="mbr-text align-center pb-3 mbr-fonts-style display-5"></p>
                    <div class="mbr-section-btn align-center"><a class="btn btn-md btn-success display-4" href="index.html#footer2-b">Ver Mais</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="mbr-section content8 cid-qZLLQdvBVU" id="content8-7">

        <div class="container">
            <div class="media-container-row title">
                <div class="col-12 col-md-8">
                    <div class="mbr-section-btn align-center"><a class="btn btn-white-outline display-4"></a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="mbr-section content4 cid-qZLMnN5m5T" id="content4-9">

        <div class="container">
            <div class="media-container-row">
                <div class="title col-12 col-md-8">
                    <h2 class="align-center pb-3 mbr-fonts-style display-2">
                        Veículos em alta no mercado!
                    </h2>


                </div>
            </div>
        </div>
    </section>
    <section class="cid-qZLMGM8f1V" id="pricing-tables2-a">


        <div class="container">
            <div class="media-container-row">
                <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                    <div class="plan-header text-center pt-5">
                        <h3 class="plan-title mbr-fonts-style display-5"><strong>HYUNDAI ELANTRA</strong></h3>
                        <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                                R$
                            </span>
                            <span class="price-figure mbr-fonts-style display-1">66k</span>
                            <small class="price-term mbr-fonts-style display-7"></small>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list align-center">
                            <ul class="list-group list-group-flush mbr-fonts-style display-7">
                                <li class="list-group-item">Algumas ofertas excitantes que oferecemos aos nossos clientes assíduos</li>
                                <li class="list-group-item">Parcelamos até 12x</li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center py-4 pb-5"><a href="elantra.html" class="btn btn-success display-4">Ver Mais</a></div>
                    </div>
                </div>
                <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                    <div class="plan-header text-center pt-5">
                        <h3 class="plan-title mbr-fonts-style display-5"><strong>MARUTI SUZUKI SWIFT</strong></h3>
                        <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                                R$
                            </span>
                            <span class="price-figure mbr-fonts-style display-1">199k</span>
                            <small class="price-term mbr-fonts-style display-7"></small>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list align-center">
                            <ul class="list-group list-group-flush mbr-fonts-style display-7">
                                <li class="list-group-item">Algumas ofertas excitantes que oferecemos aos nossos clientes assíduos</li>
                                <li class="list-group-item">Parcelamos até 12x</li>
                                <li class="list-group-item">Com diversos opcionais</li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center py-4 pb-5"><a href="swift.html" class="btn btn-success display-4">Ver Mais</a></div>
                    </div>
                </div>
                <div class="plan col-12 mx-2 my-2 justify-content-center favorite col-lg-3">
                    <div class="plan-header text-center pt-5">
                        <h3 class="plan-title mbr-fonts-style display-5"><strong>MARUTI SUZUKI BREZZA</strong></h3>
                        <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                                R$
                            </span>
                            <span class="price-figure mbr-fonts-style display-1">225k</span>
                            <small class="price-term mbr-fonts-style display-7"></small>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list align-center">
                            <ul class="list-group list-group-flush mbr-fonts-style display-7">
                                <li class="list-group-item">Algumas ofertas excitantes que oferecemos aos nossos clientes assíduos</li>
                                <li class="list-group-item">Parcelamos até 12x</li>
                                <li class="list-group-item">Com diversos opcionais</li>
                                <li class="list-group-item">Seguro garantido</li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center py-4 pb-5"><a href="brezza.html" class="btn btn-success display-4">Ver Mais</a></div>
                    </div>
                </div>
                <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                    <div class="plan-header text-center pt-5">
                        <h3 class="plan-title mbr-fonts-style display-5"><strong>HONDA CIVIC</strong></h3>
                        <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                                R$
                            </span>
                            <span class="price-figure mbr-fonts-style display-1">90k</span>
                            <small class="price-term mbr-fonts-style display-7"></small>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list align-center">
                            <ul class="list-group list-group-flush mbr-fonts-style display-7">
                                <li class="list-group-item">Algumas ofertas excitantes que oferecemos aos nossos clientes assíduos</li>
                                <li class="list-group-item">Parcelamos até 12x</li>
                                <li class="list-group-item">Com diversos opcionais</li>
                                <li class="list-group-item">Seguro garantido</li>
                                <li class="list-group-item">Honda</li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center py-4 pb-5"><a href="civic.html" class="btn btn-success display-4">Ver Mais</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mbr-section content8 cid-qZLMUFJdHC" id="content8-c">

        <div class="container">
            <div class="media-container-row title">
                <div class="col-12 col-md-8">
                    <div class="mbr-section-btn align-center"><a class="btn btn-white-outline display-4"></a></div>
                </div>
            </div>
        </div>
    </section>

    <script src="@Url.Content("~/assets/web/assets/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/popper/popper.min.js")"></script>
    <script src="@Url.Content("~/assets/tether/tether.min.js")"></script>
    <script src="@Url.Content("~/assets/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/smoothscroll/smooth-scroll.js")"></script>
    <script src="@Url.Content("~/assets/dropdown/js/script.min.js")"></script>
    <script src="@Url.Content("~/assets/touchswipe/jquery.touch-swipe.min.js")"></script>
    <script src="@Url.Content("~/assets/viewportchecker/jquery.viewportchecker.js")"></script>
    <script src="@Url.Content("~/assets/theme/js/script.js")"></script>


    <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i></i></a></div>
    <input name="animation" type="hidden">
</body>
</html>