@model IEnumerable<SitePI.Models.CarServicesViewModels.DbModel>

@{
    ViewData["Title"] = "TestDB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TestDB</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sobrenome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Local)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HorarioCadastro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
        </tr>
}
    </tbody>
</table>
